@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.home-card {
    display: flex;
    justify-content: 'center';
    align-items: 'center';
    width: 35rem;
    height: 20rem;
    padding: 5rem;
}

.projCard {
  display: table-row;
    justify-content: 'center';
    align-items: 'center';
    width: 15rem;
    height: 10rem;
    padding: 5rem;
    padding-left: 10rem;
}